@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;

  padding-left: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.sidebar {
  width: 300px;
  background: royalblue;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

  width: 300px;
  height: 300px;
  padding: 16px;
  flex: 0 1 auto;
}

.container {
  display: flex;
  flex: 1;
}

.container-cards {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  padding: 32px;
}

a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

h1 {
  padding: 0px;
  margin: 0px;
}